/* body{
    background-color: aquamarine;
} */

ul.no-bullets {

    list-style-type: none;

}


ul {
    display: flex;
    flex-direction: column;
    justify-items: center;

}

#list {
    align-items: center;

}